
<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>GPL Verification</title>
    </head>

    <body>
        
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="center green-text">Domain Verified</h1>
      <div class="row center">
        <h5 class="header col s12 light">We've verified your domain using your OAuth ID. Your OAuth grant has been automatically revoked.</h5>
      </div>
      <div class="section"
        style="padding: 10px;background: #F44336;color:white;"
      >
        <h5>Read this first:</h5>
          <div>
              You just verified your domain - now, you need to sign into your Discord account.<br />
              This will be your <b>PERSONAL</b> Discord - you aren't making a new account.<br />
              Do NOT create a new Discord account with your @portal.google.com account. This account is restricted by corp policy to block emails from external senders.<br /><br />
              Is your Discord account signed in on another device/browser? Scroll down to "Need to change browser profiles/devices?" and click the link to export this session to another device/browser.
          </div>
      </div>
      <br />
      <div class="row center">
        <a href="/discord" id="download-button" class="btn-large waves-effect waves-light blue">Log In to Discord</a><br /><br />
        <a href="/logout" id="download-button" class="btn waves-effect waves-light red">Cancel &amp; Clear Session</a>
      </div>
      <br><br>
    </div>
  </div>

  <div class="container">
    {% if imported %}
    <div class="row">
        <div class="col s12">
          <div class="icon-block">
            <h5 class="center">Need to change browser profiles/devices?</h5>

            <p class="light center">You've already exported this session. To create another export, you'll need to reauth by clearing your session.</p>
          </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col s12">
          <div class="icon-block">
            <h5 class="center">Need to change browser profiles/devices?</h5>
  
            <p class="light center">If you maintain separate browser profiles for your Google and personal accounts, or need to complete verification on another device,
              click <a href="/export">here</a> to get a URL to import your session to a different browser profile.
            </p>
          </div>
        </div>
    </div>
    {% endif %}
    <br />
    <div class="section">
        <div>
          Ventrux/athena - <a href="https://gitlab.com/Ventrux/athena">View Source on Gitlab</a>
        </div>
    </div>
  </div>
</div>

        <!--JavaScript at end of body for optimized loading-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>



